In [1]:
#Import dependencies
import pandas as pd
import re

# Dependencies for MongoDB
import pymongo
from pprint import pprint  # For json output easy to read

# Dependency to convert dataframe to json format for MongoDB
import json

import requests
import os

import sys

from bs4 import BeautifulSoup as bs

In [2]:
url = "https://en.wikipedia.org/wiki/Academy_Award_for_Best_Actor"
url

'https://en.wikipedia.org/wiki/Academy_Award_for_Best_Actor'

In [3]:
#res = requests.get(url)
#res

In [4]:
#table = soup.find(class_= "wikitable sortable").find("tbody")

In [5]:
#l = table.find_all(style="background:#FAEB86;")
#m = l[276].text.strip()
#print(m)

In [6]:
#Import raw data from webpage
raw_df = pd.read_html("https://en.wikipedia.org/wiki/Academy_Award_for_Best_Actor")[2]
raw_df.head(20)

,Year,Actor,Role(s),Film,Ref.
0,1927/28 (1st),Emil Jannings [A],Grand Duke Sergius AlexanderAugust Schilling,The Last CommandThe Way of All Flesh,[10]
1,1927/28 (1st),Richard Barthelmess,Nickie ElkinsPatent Leather Kid,The NooseThe Patent Leather Kid,[10]
2,1928/29(2nd)[note 1],Warner Baxter,The Cisco Kid,In Old Arizona,[11]
3,1928/29(2nd)[note 1],George Bancroft,Thunderbolt Jim Lang,Thunderbolt,[11]
4,1928/29(2nd)[note 1],Chester Morris,Chick Williams,Alibi,[11]
5,1928/29(2nd)[note 1],Paul Muni,James Dyke,The Valiant,[11]
6,1928/29(2nd)[note 1],Lewis Stone,Count Pahlen,The Patriot,[11]
7,1929/30 (3rd),George Arliss [B],Benjamin Disraeli,Disraeli,[12]
8,1929/30 (3rd),George Arliss[B],The Raja,The Green Goddess,[12]
9,1929/30 (3rd),Wallace Beery,"Butch ""Machine Gun"" Schmidt",The Big House,[12]
10,1929/30 (3rd),Maurice Chevalier [B],Pierre Mirande Count Alfred Renard,The Big Pond The Love Parade,[12]
11,1929/30 (3rd),Ronald Colman [B],"Capt. Hugh ""Bulldog"" Drummond Michel",Bulldog Drummond Condemned,[12]
12,1929/30 (3rd),Lawrence Tibbett,Yegor,The Rogue Song,[12]
13,1930/31 (4th),Lionel Barrymore,Stephen Ashe,A Free Soul,[13]
14,1930/31 (4th),Jackie Cooper,Skippy Skinner,Skippy,[13]
15,1930/31 (4th),Richard Dix,Yancey Cravat,Cimarron,[13]
16,1930/31 (4th),Fredric March,Tony Cavendish,The Royal Family of Broadway,[13]
17,1930/31 (4th),Adolphe Menjou,Walter Burns,The Front Page,[13]
18,1931/32 (5th),Wallace Beery (TIE) [C],"Andy ""Champ"" Purcell",The Champ,[14]
19,1931/32 (5th),Fredric March (TIE) [C],Dr. Henry Jekyll / Mr. Edward Hyde,Dr. Jekyll and Mr. Hyde,[14]

In [7]:
tie_index = []
unique_index = []

# this is for "Tie-up" data , In 5th year , 2 actors won the Academy Award 

for i in range(len(raw_df)):
    if (raw_df["Actor"][i].find("(TIE)")==-1):
        unique_index.append(i)
    else:
        tie_index.append(i)
       
    
tie_index

[18, 19]

In [8]:
year_unique_tie = []
actor_unique_tie = []
film_unique_tie = []
m=0
#Loop through the data to select only the Best Actor winners in each year. 
#Best Actor is always listed first in each Oscar year amongst the nominees.

for i in (range(len(raw_df))):  
    #print(i)
    if i in tie_index:
        #print(i)
        year_unique_tie.append(raw_df['Year'][i])
        actor_unique_tie.append(raw_df['Actor'][i])
        film_unique_tie.append(raw_df['Film'][i])
        
    else:
        #print(i)
        if raw_df['Year'][i] not in year_unique_tie:
            year_unique_tie.append(raw_df['Year'][i])
            actor_unique_tie.append(raw_df['Actor'][i])
            film_unique_tie.append(raw_df['Film'][i]) 
    
len(actor_unique_tie)

93

In [10]:
bestactor_df = pd.DataFrame({"Years": year_unique_tie, "Winner Name":actor_unique_tie, "Film": film_unique_tie ,"Category":"Best Actor"})
bestactor_df

,Years,Winner Name,Film,Category
0,1927/28 (1st),Emil Jannings [A],The Last CommandThe Way of All Flesh,Best Actor
1,1928/29(2nd)[note 1],Warner Baxter,In Old Arizona,Best Actor
2,1929/30 (3rd),George Arliss [B],Disraeli,Best Actor
3,1930/31 (4th),Lionel Barrymore,A Free Soul,Best Actor
4,1931/32 (5th),Wallace Beery (TIE) [C],The Champ,Best Actor
...,...,...,...,...
88,2015 (88th),Leonardo DiCaprio,The Revenant,Best Actor
89,2016 (89th),Casey Affleck,Manchester by the Sea,Best Actor
90,2017 (90th),Gary Oldman,Darkest Hour,Best Actor
91,2018 (91st),Rami Malek,Bohemian Rhapsody,Best Actor
92,2019 (92nd),Joaquin Phoenix,Joker,Best Actor

In [12]:
winnernames = [bestactor_df["Winner Name"]]
for n in range(len(winnernames[0])):
    #print(winnernames[0][n])
    actor_unique_tie[n]=re.sub("[\(\[].*?[\)\]]","",winnernames[0][n])
    
#winnernames[0]
type(actor_unique_tie)

list

In [13]:
actor_url = []
for i in actor_unique_tie:
    #print(i)
    actor_url.append((f"https://en.wikipedia.org/wiki/{i}"))

In [15]:
#actor_url

In [16]:
#Create List of unique oscar years
#list_of_years = raw_df.Year.unique()
#list_of_years
#actor_url

In [17]:
bestactor_df["Wiki URL"] =actor_url

In [14]:
#Loop through the data to select only the Best Actor winners in each year. 
#Best Actor is always listed first in each Oscar year amongst the nominees.
#years = []
#actor=[]
#film=[]

#for x in list_of_years:
    #years.append(raw_df[raw_df["Year"]==x].iloc[0]["Year"])
    #actor.append(raw_df[raw_df["Year"]==x].iloc[0]["Actor"])
    #film.append(raw_df[raw_df["Year"]==x].iloc[0]["Film"])

In [18]:
bestactor_df
#actor

,Years,Winner Name,Film,Category,Wiki URL
0,1927/28 (1st),Emil Jannings [A],The Last CommandThe Way of All Flesh,Best Actor,https://en.wikipedia.org/wiki/Emil Jannings
1,1928/29(2nd)[note 1],Warner Baxter,In Old Arizona,Best Actor,https://en.wikipedia.org/wiki/Warner Baxter
2,1929/30 (3rd),George Arliss [B],Disraeli,Best Actor,https://en.wikipedia.org/wiki/George Arliss
3,1930/31 (4th),Lionel Barrymore,A Free Soul,Best Actor,https://en.wikipedia.org/wiki/Lionel Barrymore
4,1931/32 (5th),Wallace Beery (TIE) [C],The Champ,Best Actor,https://en.wikipedia.org/wiki/Wallace Beery
...,...,...,...,...,...
88,2015 (88th),Leonardo DiCaprio,The Revenant,Best Actor,https://en.wikipedia.org/wiki/Leonardo DiCaprio
89,2016 (89th),Casey Affleck,Manchester by the Sea,Best Actor,https://en.wikipedia.org/wiki/Casey Affleck
90,2017 (90th),Gary Oldman,Darkest Hour,Best Actor,https://en.wikipedia.org/wiki/Gary Oldman
91,2018 (91st),Rami Malek,Bohemian Rhapsody,Best Actor,https://en.wikipedia.org/wiki/Rami Malek
92,2019 (92nd),Joaquin Phoenix,Joker,Best Actor,https://en.wikipedia.org/wiki/Joaquin Phoenix

In [ ]:
birthplace =[]
birthyear = []


for url in actor_url:
    response = requests.get(url)
    soup = bs(response.text,'html.parser')
    #print(soup)
    #birthplace_result = soup.find_all("div",class_="birthplace")[0].text
    #print(birthplace_result)
    #birthplace.append(birthplace_result)
    
    try:
        birthplace_result = soup.find_all("div",class_="birthplace")[0].text
        birthplace.append(birthplace_result)
        birthyear_result = soup.find_all('span', class_='bday')[0].text[:4]
        birthyear.append(birthyear_result)
    #except IndexError as I:
    except:
        #print(I)
        print("Oops!",sys.exc_info()[0],"occured")
        birthplace.append("Unknown")
        birthyear.append("Unknown")

Oops! <class 'IndexError'> occured

In [ ]:
bestactor_df["Birthplace"] = birthplace
bestactor_df["Birth Year"] = birthyear

In [ ]:
bestactor_df

In [41]:
#Some of the actor names have end notes listed on Wikipedia next to their name - ex. [A]
#Some actors have tied for best actor. 
#I was able to remove the end notes from the names, but uncertain as to what to do about actors tying the award in the same year.
#Actors who tied for the award will be listed on a different line that was not pulled.
#Also need to remove § special charactor after some names.
#Tried re function with no sucess. Don't think it really applies to this.

#actors = pd.Series(actor).str.split("[").str[0].tolist()

In [429]:
#actors
#bestactor_df = pd.DataFrame({"Years": years, "Winner Name":actor, "Film": film,"Category":"Best Actor"})
#bestactor_df.head(20)

In [347]:
#year_unique_tie

In [430]:
# Connection for Mongod DB server

conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [56]:
# Database - "winnersdb" to store collection(table) of Documents(rows) and fields(columns)

database = client.winnersdb
database

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'winnersdb')

In [60]:
#winners_collection(table) is to store all winners data from Concatenated dataframe

collection = database.winners_collection

In [431]:
# Database and collection are created at this point(if they dont exist) after we insert data 

# inserting Dataframe to MongoDB Collection


df_to_dict = json.loads(bestactor_df.T.to_json()).values()
#df_to_dict

In [78]:
collection.insert_many(df_to_dict)