In [23]:
#Import dependencies
import pandas as pd
import re

# Dependencies for MongoDB
import pymongo
from pprint import pprint  # For json output easy to read

# Dependency to convert dataframe to json format to for MongoDB
import json

In [24]:
#Import raw data from webpage
raw_df = pd.read_html("https://en.wikipedia.org/wiki/Academy_Award_for_Best_Actor")[2]
raw_df

,Year,Actor,Role(s),Film,Ref.
0,1927/28 (1st),Emil Jannings [A],Grand Duke Sergius AlexanderAugust Schilling,The Last CommandThe Way of All Flesh,[10]
1,1927/28 (1st),Richard Barthelmess,Nickie ElkinsPatent Leather Kid,The NooseThe Patent Leather Kid,[10]
2,1928/29(2nd)[note 1],Warner Baxter,The Cisco Kid,In Old Arizona,[11]
3,1928/29(2nd)[note 1],George Bancroft,Thunderbolt Jim Lang,Thunderbolt,[11]
4,1928/29(2nd)[note 1],Chester Morris,Chick Williams,Alibi,[11]
...,...,...,...,...,...
447,2019 (92nd),Joaquin Phoenix,Arthur Fleck / Joker,Joker,[103]
448,2019 (92nd),Antonio Banderas,Salvador Mallo,Pain and Glory,[103]
449,2019 (92nd),Leonardo DiCaprio,Rick Dalton,Once Upon a Time in Hollywood,[103]
450,2019 (92nd),Adam Driver,Charlie Barber,Marriage Story,[103]
451,2019 (92nd),Jonathan Pryce,Cardinal Jorge Mario Bergoglio,The Two Popes,[103]

In [25]:
#Create List of unique oscar years
list_of_years = raw_df.Year.unique()
list_of_years

array(['1927/28 (1st)', '1928/29(2nd)[note 1]', '1929/30 (3rd)',
       '1930/31 (4th)', '1931/32 (5th)', '1932/33 (6th)', '1934 (7th)',
       '1935 (8th)', '1936 (9th)', '1937 (10th)', '1938 (11th)',
       '1939 (12th)', '1940 (13th)', '1941 (14th)', '1942 (15th)',
       '1943 (16th)', '1944 (17th)', '1945 (18th)', '1946 (19th)',
       '1947 (20th)', '1948 (21st)', '1949 (22nd)', '1950 (23rd)',
       '1951 (24th)', '1952 (25th)', '1953 (26th)', '1954 (27th)',
       '1955 (28th)', '1956 (29th)', '1957 (30th)', '1958 (31st)',
       '1959 (32nd)', '1960 (33rd)', '1961 (34th)', '1962 (35th)',
       '1963 (36th)', '1964 (37th)', '1965 (38th)', '1966 (39th)',
       '1967 (40th)', '1968 (41st)', '1969 (42nd)', '1970 (43rd)',
       '1971 (44th)', '1972 (45th)', '1973 (46th)', '1974 (47th)',
       '1975 (48th)', '1976 (49th)', '1977 (50th)', '1978 (51st)',
       '1979 (52nd)', '1980 (53rd)', '1981 (54th)', '1982 (55th)',
       '1983 (56th)', '1984 (57th)', '1985 (58th)', '1986 (59th)',
       '1987 (60th)', '1988 (61st)', '1989 (62nd)', '1990 (63rd)',
       '1991 (64th)', '1992 (65th)', '1993 (66th)', '1994 (67th)',
       '1995 (68th)', '1996 (69th)', '1997 (70th)', '1998 (71st)',
       '1999 (72nd)', '2000 (73rd)', '2001 (74th)', '2002 (75th)',
       '2003 (76th)', '2004 (77th)', '2005 (78th)', '2006 (79th)',
       '2007 (80th)', '2008 (81st)', '2009 (82nd)', '2010 (83rd)',
       '2011 (84th)', '2012 (85th)', '2013 (86th)', '2014 (87th)',
       '2015 (88th)', '2016 (89th)', '2017 (90th)', '2018 (91st)',
       '2019 (92nd)'], dtype=object)

In [26]:
#Loop through the data to select only the Best Actor winners in each year. 
#Best Actor is always listed first in each Oscar year amongst the nominees.
years = []
actor=[]
film=[]

for x in list_of_years:
    years.append(raw_df[raw_df["Year"]==x].iloc[0]["Year"])
    actor.append(raw_df[raw_df["Year"]==x].iloc[0]["Actor"])
    film.append(raw_df[raw_df["Year"]==x].iloc[0]["Film"])

In [33]:
bestactor_df = pd.DataFrame({"Years": years, "Winner Name":actor, "Film": film,"Category":"Best Actor"})

In [34]:
bestactor_df

,Years,Winner Name,Film,Category
0,1927/28 (1st),Emil Jannings [A],The Last CommandThe Way of All Flesh,Best Actor
1,1928/29(2nd)[note 1],Warner Baxter,In Old Arizona,Best Actor
2,1929/30 (3rd),George Arliss [B],Disraeli,Best Actor
3,1930/31 (4th),Lionel Barrymore,A Free Soul,Best Actor
4,1931/32 (5th),Wallace Beery (TIE) [C],The Champ,Best Actor
...,...,...,...,...
87,2015 (88th),Leonardo DiCaprio,The Revenant,Best Actor
88,2016 (89th),Casey Affleck,Manchester by the Sea,Best Actor
89,2017 (90th),Gary Oldman,Darkest Hour,Best Actor
90,2018 (91st),Rami Malek,Bohemian Rhapsody,Best Actor
91,2019 (92nd),Joaquin Phoenix,Joker,Best Actor

In [29]:
#Some of the actor names have end notes listed on Wikipedia next to their name - ex. [A]
#Some actors have tied for best actor. 
#I was able to remove the end notes from the names, but uncertain as to what to do about actors tying the award in the same year.
#Actors who tied for the award will be listed on a different line that was not pulled.
#Also need to remove Â§ special charactor after some names.
#Tried re function with no sucess. Don't think it really applies to this.
actors = pd.Series(actor).str.split("[").str[0].tolist()

In [30]:
actors

['Emil Jannings ',
 'Warner Baxter',
 'George Arliss ',
 'Lionel Barrymore',
 'Wallace Beery (TIE) ',
 'Charles Laughton',
 'Clark Gable',
 'Victor McLaglen',
 'Paul Muni',
 'Spencer Tracy',
 'Spencer Tracy',
 'Robert Donat',
 'James Stewart',
 'Gary Cooper',
 'James Cagney',
 'Paul Lukas',
 'Bing Crosby',
 'Ray Milland',
 'Fredric March',
 'Ronald Colman',
 'Laurence Olivier',
 'Broderick Crawford',
 'JosÃ© Ferrer',
 'Humphrey Bogart',
 'Gary Cooper',
 'William Holden',
 'Marlon Brando',
 'Ernest Borgnine',
 'Yul Brynner',
 'Alec Guinness',
 'David Niven',
 'Charlton Heston',
 'Burt Lancaster',
 'Maximilian Schell',
 'Gregory Peck',
 'Sidney Poitier',
 'Rex Harrison',
 'Lee Marvin',
 'Paul Scofield',
 'Rod Steiger',
 'Cliff Robertson',
 'John Wayne',
 'George C. Scott Â§',
 'Gene Hackman',
 'Marlon Brando Â§',
 'Jack Lemmon',
 'Art Carney',
 'Jack Nicholson',
 'Peter Finch ^',
 'Richard Dreyfuss',
 'Jon Voight',
 'Dustin Hoffman',
 'Robert De Niro',
 'Henry Fonda',
 'Ben Kingsley',
 'Robert Duvall',
 'F. Murray Abraham',
 'William Hurt',
 'Paul Newman',
 'Michael Douglas',
 'Dustin Hoffman',
 'Daniel Day-Lewis',
 'Jeremy Irons',
 'Anthony Hopkins',
 'Al Pacino',
 'Tom Hanks',
 'Tom Hanks',
 'Nicolas Cage',
 'Geoffrey Rush',
 'Jack Nicholson',
 'Roberto Benigni',
 'Kevin Spacey',
 'Russell Crowe',
 'Denzel Washington',
 'Adrien Brody',
 'Sean Penn',
 'Jamie Foxx',
 'Philip Seymour Hoffman',
 'Forest Whitaker',
 'Daniel Day-Lewis',
 'Sean Penn',
 'Jeff Bridges',
 'Colin Firth',
 'Jean Dujardin',
 'Daniel Day-Lewis',
 'Matthew McConaughey',
 'Eddie Redmayne',
 'Leonardo DiCaprio',
 'Casey Affleck',
 'Gary Oldman',
 'Rami Malek',
 'Joaquin Phoenix']

In [32]:
bestactor_df

,Years,Winner Name,Film
0,1927/28 (1st),Emil Jannings [A],The Last CommandThe Way of All Flesh
1,1928/29(2nd)[note 1],Warner Baxter,In Old Arizona
2,1929/30 (3rd),George Arliss [B],Disraeli
3,1930/31 (4th),Lionel Barrymore,A Free Soul
4,1931/32 (5th),Wallace Beery (TIE) [C],The Champ
...,...,...,...
87,2015 (88th),Leonardo DiCaprio,The Revenant
88,2016 (89th),Casey Affleck,Manchester by the Sea
89,2017 (90th),Gary Oldman,Darkest Hour
90,2018 (91st),Rami Malek,Bohemian Rhapsody
91,2019 (92nd),Joaquin Phoenix,Joker

In [51]:
# Connection for Mongod DB server

conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [56]:
# Database - "winnersdb" to store collection(table) of Documents(rows) and fields(columns)

database = client.winnersdb
database

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'winnersdb')

In [60]:
#winners_collection(table) is to store all winners data from Concatenated dataframe

collection = database.winners_collection

In [79]:
# Database and collection are created at this point(if they dont exist) after we insert data 

# inserting Dataframe to MongoDB Collection


df_to_dict = json.loads(bestactor_df.T.to_json()).values()
df_to_dict

dict_values([{'Years': '1927/28 (1st)', 'Winner Name': 'Emil Jannings [A]', 'Film': 'The Last CommandThe Way of All Flesh', 'Category': 'Best Actor'}, {'Years': '1928/29(2nd)[note 1]', 'Winner Name': 'Warner Baxter', 'Film': 'In Old Arizona', 'Category': 'Best Actor'}, {'Years': '1929/30 (3rd)', 'Winner Name': 'George Arliss [B]', 'Film': 'Disraeli', 'Category': 'Best Actor'}, {'Years': '1930/31 (4th)', 'Winner Name': 'Lionel Barrymore', 'Film': 'A Free Soul', 'Category': 'Best Actor'}, {'Years': '1931/32 (5th)', 'Winner Name': 'Wallace Beery (TIE) [C]', 'Film': 'The Champ', 'Category': 'Best Actor'}, {'Years': '1932/33 (6th)', 'Winner Name': 'Charles Laughton', 'Film': 'The Private Life of Henry VIII', 'Category': 'Best Actor'}, {'Years': '1934 (7th)', 'Winner Name': 'Clark Gable', 'Film': 'It Happened One Night', 'Category': 'Best Actor'}, {'Years': '1935 (8th)', 'Winner Name': 'Victor McLaglen', 'Film': 'The Informer', 'Category': 'Best Actor'}, {'Years': '1936 (9th)', 'Winner Name': 'Paul Muni', 'Film': 'The Story of Louis Pasteur', 'Category': 'Best Actor'}, {'Years': '1937 (10th)', 'Winner Name': 'Spencer Tracy', 'Film': 'Captains Courageous', 'Category': 'Best Actor'}, {'Years': '1938 (11th)', 'Winner Name': 'Spencer Tracy', 'Film': 'Boys Town', 'Category': 'Best Actor'}, {'Years': '1939 (12th)', 'Winner Name': 'Robert Donat', 'Film': 'Goodbye, Mr. Chips', 'Category': 'Best Actor'}, {'Years': '1940 (13th)', 'Winner Name': 'James Stewart', 'Film': 'The Philadelphia Story', 'Category': 'Best Actor'}, {'Years': '1941 (14th)', 'Winner Name': 'Gary Cooper', 'Film': 'Sergeant York', 'Category': 'Best Actor'}, {'Years': '1942 (15th)', 'Winner Name': 'James Cagney', 'Film': 'Yankee Doodle Dandy', 'Category': 'Best Actor'}, {'Years': '1943 (16th)', 'Winner Name': 'Paul Lukas', 'Film': 'Watch on the Rhine', 'Category': 'Best Actor'}, {'Years': '1944 (17th)', 'Winner Name': 'Bing Crosby', 'Film': 'Going My Way', 'Category': 'Best Actor'}, {'Years': '1945 (18th)', 'Winner Name': 'Ray Milland', 'Film': 'The Lost Weekend', 'Category': 'Best Actor'}, {'Years': '1946 (19th)', 'Winner Name': 'Fredric March', 'Film': 'The Best Years of Our Lives', 'Category': 'Best Actor'}, {'Years': '1947 (20th)', 'Winner Name': 'Ronald Colman', 'Film': 'A Double Life', 'Category': 'Best Actor'}, {'Years': '1948 (21st)', 'Winner Name': 'Laurence Olivier', 'Film': 'Hamlet', 'Category': 'Best Actor'}, {'Years': '1949 (22nd)', 'Winner Name': 'Broderick Crawford', 'Film': "All the King's Men", 'Category': 'Best Actor'}, {'Years': '1950 (23rd)', 'Winner Name': 'JosÃ© Ferrer', 'Film': 'Cyrano de Bergerac', 'Category': 'Best Actor'}, {'Years': '1951 (24th)', 'Winner Name': 'Humphrey Bogart', 'Film': 'The African Queen', 'Category': 'Best Actor'}, {'Years': '1952 (25th)', 'Winner Name': 'Gary Cooper', 'Film': 'High Noon', 'Category': 'Best Actor'}, {'Years': '1953 (26th)', 'Winner Name': 'William Holden', 'Film': 'Stalag 17', 'Category': 'Best Actor'}, {'Years': '1954 (27th)', 'Winner Name': 'Marlon Brando', 'Film': 'On the Waterfront', 'Category': 'Best Actor'}, {'Years': '1955 (28th)', 'Winner Name': 'Ernest Borgnine', 'Film': 'Marty', 'Category': 'Best Actor'}, {'Years': '1956 (29th)', 'Winner Name': 'Yul Brynner', 'Film': 'The King and I', 'Category': 'Best Actor'}, {'Years': '1957 (30th)', 'Winner Name': 'Alec Guinness', 'Film': 'The Bridge on the River Kwai', 'Category': 'Best Actor'}, {'Years': '1958 (31st)', 'Winner Name': 'David Niven', 'Film': 'Separate Tables', 'Category': 'Best Actor'}, {'Years': '1959 (32nd)', 'Winner Name': 'Charlton Heston', 'Film': 'Ben-Hur', 'Category': 'Best Actor'}, {'Years': '1960 (33rd)', 'Winner Name': 'Burt Lancaster', 'Film': 'Elmer Gantry', 'Category': 'Best Actor'}, {'Years': '1961 (34th)', 'Winner Name': 'Maximilian Schell', 'Film': 'Judgment at Nuremberg', 'Category': 'Best Actor'}, {'Years': '1962 (35th)', 'Winner Name': 'Gregory Peck', 'Film': 'To Kill a Mockingbird', 'Category': 'Best Actor'}, {'Years': '1963 (36th)', 'Winner Name': 'Sidney Poitier', 'Film': 'Lilies of the Field', 'Category': 'Best Actor'}, {'Years': '1964 (37th)', 'Winner Name': 'Rex Harrison', 'Film': 'My Fair Lady', 'Category': 'Best Actor'}, {'Years': '1965 (38th)', 'Winner Name': 'Lee Marvin', 'Film': 'Cat Ballou', 'Category': 'Best Actor'}, {'Years': '1966 (39th)', 'Winner Name': 'Paul Scofield', 'Film': 'A Man for All Seasons', 'Category': 'Best Actor'}, {'Years': '1967 (40th)', 'Winner Name': 'Rod Steiger', 'Film': 'In the Heat of the Night', 'Category': 'Best Actor'}, {'Years': '1968 (41st)', 'Winner Name': 'Cliff Robertson', 'Film': 'Charly', 'Category': 'Best Actor'}, {'Years': '1969 (42nd)', 'Winner Name': 'John Wayne', 'Film': 'True Grit', 'Category': 'Best Actor'}, {'Years': '1970 (43rd)', 'Winner Name': 'George C. Scott Â§[53]', 'Film': 'Patton', 'Category': 'Best Actor'}, {'Years': '1971 (44th)', 'Winner Name': 'Gene Hackman', 'Film': 'The French Connection', 'Category': 'Best Actor'}, {'Years': '1972 (45th)', 'Winner Name': 'Marlon Brando Â§[53]', 'Film': 'The Godfather', 'Category': 'Best Actor'}, {'Years': '1973 (46th)', 'Winner Name': 'Jack Lemmon', 'Film': 'Save the Tiger', 'Category': 'Best Actor'}, {'Years': '1974 (47th)', 'Winner Name': 'Art Carney', 'Film': 'Harry and Tonto', 'Category': 'Best Actor'}, {'Years': '1975 (48th)', 'Winner Name': 'Jack Nicholson', 'Film': "One Flew Over the Cuckoo's Nest", 'Category': 'Best Actor'}, {'Years': '1976 (49th)', 'Winner Name': 'Peter Finch ^[38]', 'Film': 'Network', 'Category': 'Best Actor'}, {'Years': '1977 (50th)', 'Winner Name': 'Richard Dreyfuss', 'Film': 'The Goodbye Girl', 'Category': 'Best Actor'}, {'Years': '1978 (51st)', 'Winner Name': 'Jon Voight', 'Film': 'Coming Home', 'Category': 'Best Actor'}, {'Years': '1979 (52nd)', 'Winner Name': 'Dustin Hoffman', 'Film': 'Kramer vs. Kramer', 'Category': 'Best Actor'}, {'Years': '1980 (53rd)', 'Winner Name': 'Robert De Niro', 'Film': 'Raging Bull', 'Category': 'Best Actor'}, {'Years': '1981 (54th)', 'Winner Name': 'Henry Fonda', 'Film': 'On Golden Pond', 'Category': 'Best Actor'}, {'Years': '1982 (55th)', 'Winner Name': 'Ben Kingsley', 'Film': 'Gandhi', 'Category': 'Best Actor'}, {'Years': '1983 (56th)', 'Winner Name': 'Robert Duvall', 'Film': 'Tender Mercies', 'Category': 'Best Actor'}, {'Years': '1984 (57th)', 'Winner Name': 'F. Murray Abraham', 'Film': 'Amadeus', 'Category': 'Best Actor'}, {'Years': '1985 (58th)', 'Winner Name': 'William Hurt', 'Film': 'Kiss of the Spider Woman', 'Category': 'Best Actor'}, {'Years': '1986 (59th)', 'Winner Name': 'Paul Newman', 'Film': 'The Color of Money', 'Category': 'Best Actor'}, {'Years': '1987 (60th)', 'Winner Name': 'Michael Douglas', 'Film': 'Wall Street', 'Category': 'Best Actor'}, {'Years': '1988 (61st)', 'Winner Name': 'Dustin Hoffman', 'Film': 'Rain Man', 'Category': 'Best Actor'}, {'Years': '1989 (62nd)', 'Winner Name': 'Daniel Day-Lewis', 'Film': 'My Left Foot', 'Category': 'Best Actor'}, {'Years': '1990 (63rd)', 'Winner Name': 'Jeremy Irons', 'Film': 'Reversal of Fortune', 'Category': 'Best Actor'}, {'Years': '1991 (64th)', 'Winner Name': 'Anthony Hopkins', 'Film': 'The Silence of the Lambs', 'Category': 'Best Actor'}, {'Years': '1992 (65th)', 'Winner Name': 'Al Pacino', 'Film': 'Scent of a Woman', 'Category': 'Best Actor'}, {'Years': '1993 (66th)', 'Winner Name': 'Tom Hanks', 'Film': 'Philadelphia', 'Category': 'Best Actor'}, {'Years': '1994 (67th)', 'Winner Name': 'Tom Hanks', 'Film': 'Forrest Gump', 'Category': 'Best Actor'}, {'Years': '1995 (68th)', 'Winner Name': 'Nicolas Cage', 'Film': 'Leaving Las Vegas', 'Category': 'Best Actor'}, {'Years': '1996 (69th)', 'Winner Name': 'Geoffrey Rush', 'Film': 'Shine', 'Category': 'Best Actor'}, {'Years': '1997 (70th)', 'Winner Name': 'Jack Nicholson', 'Film': 'As Good as It Gets', 'Category': 'Best Actor'}, {'Years': '1998 (71st)', 'Winner Name': 'Roberto Benigni', 'Film': 'Life Is Beautiful', 'Category': 'Best Actor'}, {'Years': '1999 (72nd)', 'Winner Name': 'Kevin Spacey', 'Film': 'American Beauty', 'Category': 'Best Actor'}, {'Years': '2000 (73rd)', 'Winner Name': 'Russell Crowe', 'Film': 'Gladiator', 'Category': 'Best Actor'}, {'Years': '2001 (74th)', 'Winner Name': 'Denzel Washington', 'Film': 'Training Day', 'Category': 'Best Actor'}, {'Years': '2002 (75th)', 'Winner Name': 'Adrien Brody', 'Film': 'The Pianist', 'Category': 'Best Actor'}, {'Years': '2003 (76th)', 'Winner Name': 'Sean Penn', 'Film': 'Mystic River', 'Category': 'Best Actor'}, {'Years': '2004 (77th)', 'Winner Name': 'Jamie Foxx', 'Film': 'Ray', 'Category': 'Best Actor'}, {'Years': '2005 (78th)', 'Winner Name': 'Philip Seymour Hoffman', 'Film': 'Capote', 'Category': 'Best Actor'}, {'Years': '2006 (79th)', 'Winner Name': 'Forest Whitaker', 'Film': 'The Last King of Scotland', 'Category': 'Best Actor'}, {'Years': '2007 (80th)', 'Winner Name': 'Daniel Day-Lewis', 'Film': 'There Will Be Blood', 'Category': 'Best Actor'}, {'Years': '2008 (81st)', 'Winner Name': 'Sean Penn', 'Film': 'Milk', 'Category': 'Best Actor'}, {'Years': '2009 (82nd)', 'Winner Name': 'Jeff Bridges', 'Film': 'Crazy Heart', 'Category': 'Best Actor'}, {'Years': '2010 (83rd)', 'Winner Name': 'Colin Firth', 'Film': "The King's Speech", 'Category': 'Best Actor'}, {'Years': '2011 (84th)', 'Winner Name': 'Jean Dujardin', 'Film': 'The Artist', 'Category': 'Best Actor'}, {'Years': '2012 (85th)', 'Winner Name': 'Daniel Day-Lewis', 'Film': 'Lincoln', 'Category': 'Best Actor'}, {'Years': '2013 (86th)', 'Winner Name': 'Matthew McConaughey', 'Film': 'Dallas Buyers Club', 'Category': 'Best Actor'}, {'Years': '2014 (87th)', 'Winner Name': 'Eddie Redmayne', 'Film': 'The Theory of Everything', 'Category': 'Best Actor'}, {'Years': '2015 (88th)', 'Winner Name': 'Leonardo DiCaprio', 'Film': 'The Revenant', 'Category': 'Best Actor'}, {'Years': '2016 (89th)', 'Winner Name': 'Casey Affleck', 'Film': 'Manchester by the Sea', 'Category': 'Best Actor'}, {'Years': '2017 (90th)', 'Winner Name': 'Gary Oldman', 'Film': 'Darkest Hour', 'Category': 'Best Actor'}, {'Years': '2018 (91st)', 'Winner Name': 'Rami Malek', 'Film': 'Bohemian Rhapsody', 'Category': 'Best Actor'}, {'Years': '2019 (92nd)', 'Winner Name': 'Joaquin Phoenix', 'Film': 'Joker', 'Category': 'Best Actor'}])

In [78]:
collection.insert_many(df_to_dict)